.SingleProductWrapper {
  /*   background-color: violet;
 */
  width: 100%;
  min-height: 100dvh;
}
.SingleProductWrapper h1 {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProductDetailsMainContainer {
  /*   background-color: orange;
 */
  padding: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.ProductDetailsImgContainer {
}
.ProductDetailsImgContainer img {
  width: 100%;
  height: 100%;
}
.ProductDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 10px;
}
.ProductDetailsContainer li {
  list-style: none;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.ProductDetailsContainer li span {
  font-weight: bolder;
  font-size: 24px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonContainer button {
  height: 40px;
  padding: 10px;
  border-radius: 6px;
  width: 40%;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  background-color: darkred;

  color: aliceblue;
}
.buttonContainer button:hover {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.quantityContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.quantityContainer button {
  padding: 3px 10px;
  cursor: pointer;
  background-color: darkred;
  color: white;
  border: 1px solid darkred;
  border-radius: 3px;
}
@media screen and (max-width: 650px) {
  .ProductDetailsMainContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
