.addCartContainer {
  background-color: brown;
  width: 100%;
  height: calc(100dvh - 60px); /* ✅ Correct */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.addCartContainer h2 {
  padding: 50px 20px;
  text-transform: capitalize;
}
.CartItemsContainer {
  background-color: cadetblue;
  width: 100%;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  place-items: center;
  overflow: auto;
  height: 100dvh;
}
.CartItemsContainer::-webkit-scrollbar {
  display: none;
}
.CartItemsSection {
  border: 2px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
}
.CartItemsSection li {
  list-style: none;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonContainer button {
  height: 40px;
  padding: 10px;
  border-radius: 6px;
  width: 40%;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  background-color: darkred;
  color: aliceblue;
}
.buttonContainer button:hover {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.quantityContainer {
  background-color: rgb(4, 106, 24);
  display: flex;
  gap: 10px;
  align-items: center;
}
.quantityBtnContainer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.quantityBtnContainer button {
  padding: 3px 8px;
  cursor: pointer;
  background-color: darkred;
  color: aliceblue;
  border-radius: 3px;
  border: 1px solid black;
  font-size: 20px;
}

@media screen and (max-width: 650px) {
  .CartItemsContainer {
    padding: 30px;
  }
  .CartItemsSection {
    width: 100%;
  }
  .buttonContainer button {
    width: 70%;
  }
}
