.productPageWrapper {
  /*   background-color: rgb(160, 3, 3);
 */
  width: 100%;
  min-height: 100dvh;
  background-color: rgb(165 104 34);
}
/* .ProductPageWrapper {
  width: 100%;
  min-height: 100dvh;
  background-color: rgb(44, 49, 173);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.productMainContainer {
  background-color: rgb(44, 49, 173);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 20px;
}
.ProductPageWrapper h1 {
  padding: 20px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
}
/*  */
/* .searchWrapper {
  background-color: red;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 20px;
  flex-direction: column;
  gap: 20px;
}

.inputSection {
  background-color: white;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 0px black;
  padding: 5px 10px;
  height: 40px;
}
.inputSection input {
  border: none;
  outline: none;
  width: 85%;
  font-size: 20px;
}
.SearchIcon {
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
}
.DropdownContainer {
  width: 100%;
  background-color: green;
 
}
.Dropdownsection {
  height: 100%;
  background-color: chartreuse;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.DropdownInputSection {
  width: 100%;
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.DropdownMenu {
  background-color: crimson;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  position: absolute;
  top: 55px;
  left: 0px;
}
.DropdownMenu p {
  padding: 10px;
  cursor: pointer;
}
.DropdownMenuLine {
  height: 0.5px;
  width: 100%;
  background-color: black;
}
.roundUp {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.roundDown {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
} */
/*  */

.productItemContainer {
  width: 95%;
  display: grid;
  gap: 40px;
  background-color: sienna;
  grid-template-columns: repeat(3, 1fr);
}

.productItemSection {
  background-color: rgba(167, 163, 232, 0.645);
  padding: 10px;
  border-radius: 15px;
  transition: transform 1s linear;
}
/* .productItemSection:hover {
  transform: scale(1.12);
} */
.productItemSection img {
  width: 100%;
  border-radius: 5px;
}
.productItemLink {
  list-style: none;
  word-break: break-all;
  text-decoration: none;
  display: flex;
  gap: 15px;
  flex-direction: column;
  cursor: pointer;
}

.productItemTextContent {
  /*   background-color: rgb(138, 138, 23);
 */
  display: flex;
  gap: 15px;
  flex-direction: column;
  font-size: 20px;
  color: aliceblue;
  flex-direction: column;
  padding: 10px;
}
.productItemTextContent li span {
  font-size: 25px;
  font-weight: bold;
}
.productItemTextContent button {
  width: 60%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s linear;
  color: white;
}
.productItemTextContent button:hover {
  background-color: rgb(94, 128, 157);
  color: black;
  border: none;
}
.productItemTextContent button:hover {
  transform: scale(1.3);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* pagination */
.paginationContainer {
  background-color: red;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
}
.rightArrowIcon,
.leftArrowIcon {
  cursor: pointer;
  position: absolute;
  font-size: 40px;
  transform: translateY(-50%);
  top: 50%;
}
.rightArrowIcon {
  left: 0px;
}
.leftArrowIcon {
  right: 0px;
}
.paginationSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: chartreuse;
  width: 100%;
  height: 100%;
  gap: 10px;
}
.pageItem {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  cursor: pointer;
  background-color: rgb(72, 122, 6);
  border-radius: 50%;
  color: white;
  padding: 5px;
}
.activePage {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}
/*  */
@media screen and (max-width: 700px) {
  .productItemContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*  */
@media screen and (max-width: 450px) {
  .productItemContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
.productItemSection {
  padding: 10px;
  border-radius: 15px;
  transition: transform 1s linear;
  perspective: 1000px;
}

.productItemLink {
  list-style: none;
  word-break: break-all;
  text-decoration: none;
  display: flex;
  gap: 15px;
  display: block;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  background-color: rgba(167, 163, 232, 0.645);
  border-radius: 12px;
}
.productItemLink:hover {
  transform: rotateY(180deg);
}

.frontFace,
.backFace {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.frontFace {
  background: rgb(74, 74, 31);
  backface-visibility: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.backFace {
  background: #5b0101;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backFaceText {
  height: 40%;
  background-color: rgb(195, 71, 5);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: aliceblue;
}
