.ContactUsPageWrapper {
  width: 100%;
  min-height: 100dvh;
  background-color: rgb(165 104 34);
}
.ContactUsFirstSectionMainContainer {
  /*   background-color: chartreuse;
 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContactUsFirstSectionContainer {
  /*   background-color: brown;
 */
  padding: 100px 20px;
  display: grid;
  gap: 50px;
  grid-template-columns: 5fr 5fr; /* same as 70/30 but respects padding */
  width: 85%;
}

.ContactUsFirstSectionTextSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.ContactUsFirstSectionTextSection h3 {
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: aliceblue;
}
.ContactUsFirstSectionTextSection p {
  font-size: 20px;
  color: aliceblue;
  width: 70%;
}
.ContactUsFirstSectionImgSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ContactUsFirstSectionImgSection img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}
/*  */
.ContactUsMiddleSectionMainContainer {
  /*   background-color: black;
 */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
}
.ContactUsMiddleSectionContainer {
  /*   background-color: chartreuse;
 */
  display: grid;
  width: 70%;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.ContactUsMiddleSectionSectionTextOne,
.ContactUsMiddleSectionSectionTextTwo {
  border-radius: 10px;
  border: none;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 3px 1px;
  color: rgb(67, 75, 82);
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s linear;
  background-color: rgba(255, 255, 255, 0.15); /* semi-transparent */
  backdrop-filter: blur(10px); /* the glass blur */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3); /* soft border */
  padding: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
.ContactUsMiddleSectionSectionTextOne:hover {
  transform: scale(1.125);
}
.ContactUsMiddleSectionSectionTextTwo:hover {
  transform: scale(1.125);
}
.icons {
  font-size: 35px;
}
.ContactUsBottomSectionMainContainer {
  /*   background-color: cornflowerblue;
 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
}
.ContactUsBottomSectionContainer {
  width: 70%;
  /*   background-color: crimson;
 */
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 3px 1px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 20px;
}
.ContactUsBottomSectionContainer img {
  width: 60%;
  height: 300px;
  border-radius: 5px;
}
.ContactUsBottomSectionText {
  /*   background-color: darksalmon;
 */
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.15); /* semi-transparent */
  backdrop-filter: blur(10px); /* the glass blur */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3); /* soft border */
  padding: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContactUsBottomSectionText a {
  color: black;
  text-decoration: none;
  word-break: break-all;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  color: aliceblue;
}
/*  */

@media screen and (max-width: 1000px) {
  .ContactUsMiddleSectionContainer {
    width: 85%;
  }
}

@media screen and (max-width: 650px) {
  .ContactUsFirstSectionContainer {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    width: 95%;
  }
  .ContactUsFirstSectionTextSection {
    place-items: center;
  }
  .ContactUsFirstSectionTextSection p {
    width: 90%;
  }
  .ContactUsMiddleSectionContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .ContactUsBottomSectionContainer {
    width: 95%;
    flex-direction: column;
  }
  .ContactUsBottomSectionContainer img {
    width: 100%;
  }
  .ContactUsMiddleSectionContainer {
    width: 95%;
  }
  .ContactUsBottomSectionText {
    padding-bottom: 25px;
  }
  .ContactUsBottomSectionText {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .ContactUsMiddleSectionContainer {
    width: 95%;
  }
}
